* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    background-repeat: no-repeat;
    font-family: "微软雅黑";

}
*:focus {
    outline: none;
}
*, *:before, *:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ol, ul, li {

    padding: 0;
    margin: 0;
    display: block;

}

u, i {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

fieldset, img {
    border: 0;

}

html {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    /*position: relative;*/
    font-size: 14px;
    background-color: #fff;
    overflow-x: hidden;
}

select, textarea {
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
}

a {

    text-decoration: none;
}

a:link {

    text-decoration: none;
}

a:visited {

    text-decoration: none;
}

.f-cb,.f-x{
    zoom: 1;
}
.f-cb:after,.f-x:after{
    content:".";display:block;height:0;clear:both;visibility:hidden
}

.fr{
    float:right;
}
.fl{
    float:left;
}
.blog-body{
    padding-top: 1rem;
}


div.innerPrompt{
    padding: 0.2rem;
}
div.innerPrompt > p:first-of-type{
    margin-top: .7rem;
}
div.innerPrompt > div{
    position: absolute;
    left:0;
    bottom: 0;
    display: -webkit-box;
    width: 100%;
    border-bottom-right-radius: 10px;

}
div.innerPrompt > div > button{
    display: block;
    -webkit-box-flex: 1;
    background-color: #fff;
    border-top: 1px solid #bbb;
    height: 0.8rem;
}
div.innerPrompt > div > button:last-child{
    border-bottom-right-radius: 10px;
    color: #777;
}
div.innerPrompt > div > button:first-child{
    border-bottom-left-radius: 10px;
    border-right: 1px solid #bbb;
    color: #007aff;
}